.App {
  padding: 2%;
}

.main {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}

.grid-container {
  height: 550px;
  width: 550px;
}

.row {
  display: flex;
  flex-direction: row;
  border: 1px solid darkgray;
  /* background-color: grey; */
  height: 20px;
  width: 550px
}

.cells-dead {
  border: 1px solid darkgray;
  background-color: grey;
  height: 20px;
  width: 20px
}

.cells-alive {
  border: 1px solid darkgray;
  background-color: black;
  height: 20px;
  width: 20px
}

.main-heading {
  text-align: center;
  margin-bottom: 3%;
  font-size: 3.5em;
}

.gen-container {
  display: flex;
}

.gen-and-speed {
  margin-bottom: 2%;
}

.gen-title {
  margin-bottom: 1%;
  margin-top: 1%;
  margin-right: 1%;
  font-weight: 700;
}

.gen-button {
  margin: 1%;
}

.button-container {
  margin-top: 5%;
  display: flex;
  justify-content: space-between;
  width: 55%;
}

.speed-button-container {
  display: flex;
  width: 40%;
  justify-content: space-between;
}

.speed-title {
  font-weight: 700;
}

.about-container {
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  margin-top: 3%;
}

.buttons {
  background-color: lightgray;
  color: black;
}

.buttons-preset {
  background-color: lightgray;
  color: black;
  width: 105px;
}

.preset-buttons {
  display: flex;
  justify-content: space-between;
  width: 85%;
}